
div{
  margin:auto;
  box-sizing: border-box;
  width: 300px;

}
h1,ul{
  margin:auto;
  box-sizing: border-box;
  width:200px;
  padding:0;
  text-align: center;
  margin-top: 30px;
}

li{
  list-style-type:none;
  margin-top: 10px;

}
a{
  text-decoration:none;
}
